---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import Platforms from "@components/Platforms";
import Levels from "@components/Levels";
import getUniqueTags from "@utils/getUniqueTags";
import type { Frontmatter } from "src/types"
import Tag from "@components/Tag";
import countTagOccurrences from "@utils/countTagOccurrences";

const posts = await Astro.glob<Frontmatter>("../../contents/writeups/*.md");
const cheats = await Astro.glob<Frontmatter>("../../contents/cheatsheets/*.md")
let cheatsTags = getUniqueTags(cheats)
let postsTags = getUniqueTags(posts);

const tags = [...cheatsTags, ...postsTags]

const platforms = [
  { name: "hack the box", icon: "/icons/hackthebox.svg" },
  { name: "vulnhub", icon: "/icons/vulnhub.png" },
  { name: "try hack me", icon: "/icons/tryhackme.png" },
  { name: "dockerlabs", icon: "/icons/dockerlabs.png" },
];

const platformCounts = platforms.map(platform => {
  const count = countTagOccurrences(posts, platform.name);
  return { ...platform, count };
});

const levels = [
  { name: "easy", icon: "🟢​" },
  { name: "medium", icon: "🟢​🟡" },
  { name: "hard", icon: "🟢​🟡​🟠" },
  { name: "insane", icon: "🟢​🟡​🟠​🔴" }
]


const levelCounts = levels.map(level => {
  const count = countTagOccurrences(posts, level.name)
  return { ...level, count}
})
---

<Layout title="ssanjuablog">
  <Header activeNav="writeups" />
  <Main pageTitle="Writeups" pageDesc="Mine.">
    <ul>
      {
        platformCounts.map((platform) => (
          <Platforms name={platform.name} count={platform.count}>
             <img class="logo" src={platform.icon} alt={`${platform.name} icon`} />
          </Platforms>
        ))
      }
    </ul>
    <ul>
      {
        levelCounts.map(level => (
          <Levels level={level.name} icon={level.icon} count={level.count}>
          </Levels>
        ))
      }
    </ul>
    <ul>
      <ul>
        {tags.map((tag) => <Tag name={tag} size="sm" />)}
      </ul>
    </ul>
  </Main>
  <Footer />
</Layout>

<style>
  .logo {
    @apply w-8 p-1
  }
</style>
