---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card";
import Footer from "@components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import HR from "@components/HR.astro";
import { SOCIALS } from "src/config";
import socialIcons from "@assets/socialIcons";

import type { Frontmatter } from "src/types"
import getSortedPosts from "@utils/getSortedPosts";
const posts = await Astro.glob<Frontmatter>("../contents/*.md");

const sortedPosts = getSortedPosts(posts);
---

<Layout title="ssanjua blog">
	<Header />
	<main id="main-content">
		<section id="hero">
			<div class="hero-container">
				<div class="ascii-art">
					{
						`
..::.:::::::::;;;;;;
....:::;+xXx::::;;;;
....:::x+xx$x:::;;;;
....:..x;+x$x::::;;;
......:$&+x&x::::;;;
..::.xX$&xx&&&X;::;;
::::x$$&&&&&&&&&x::;
x;:;&$$$&&&&&&&&&+::
x;:;;X$&&&&&&&&&&$x;
.:::;x$&&&&&&&&Xx+xx
:..;+X&&&&&&&&&Xxxxx
          `
					}
				</div>
				<div class="text-wrapper">
					<h1>ssanjua's</h1>
					<h2>hacking stuffs</h2>
					<p>
						Hi! I'm Paula, also known as ssanjua. I love my computer. I'm a
						self-taught programmer and cybersecurity enthusiast. I love learning
						new things and building cool stuff.
					</p>
				</div>
			</div>
			<div class="social-wrapper">
				<!-- <div class="social-links">Socials:</div> -->
				<div class="social-icons">
					{
            SOCIALS.filter((social) => social.active).map((social) => (
              <LinkButton
                href={social.href}
                className="link-button"
                title={social.name}
              >
                <Fragment set:html={socialIcons[social.name]} />
              </LinkButton>
            ))
					}
				</div>
			</div>
			<HR noPadding />
		</section>
		<section id="featured">
			<h2>Featured</h2>
			<ul>
				{
					posts.map(
						({ frontmatter }) =>
							frontmatter.featured && (
								<Card
									href={`/posts/${frontmatter.slug}`}
									post={frontmatter}
									secHeading={false}
								/>
							),
					)
				}
			</ul>
			<HR noPadding />
		</section>
		<section id="recent">
			<h2>Recent</h2>
			<ul>
				{
					sortedPosts.map(
						({ frontmatter }, index) =>
							index < 4 && (
								<Card
									href={`/posts/${frontmatter.slug}`}
									post={frontmatter}
									secHeading={false}
								/>
							),
					)
				}
			</ul>
			<div class="all-posts-btn-wrapper">
				<LinkButton href="/posts">
					All Posts
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="group-hover:fill-skin-accent"
						><path
							d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
						></path>
					</svg>
				</LinkButton>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	#hero {
		@apply pt-12;
	}
	#hero h1 {
		@apply font-bold my-1 text-3xl mt-4;
	}
	h1 span {
		@apply text-skin-accent;
	}
	h2 {
		@apply text-xl sm:text-xl text-skin-accent;
	}
	p {
		@apply my-2 text-sm sm:mt-8 md:mt-8;
	}
	.social-wrapper {
		@apply flex justify-start sm:items-center mb-6;
	}
	.social-icons {
		@apply mt-1 sm:ml-2;
	}
	.link-button {
		@apply p-2 sm:p-1;
	}
	.link-button svg {
		@apply scale-100 sm:scale-100;
	}
	.ascii-art {
		@apply whitespace-pre text-xs;
	}
	.hero-container {
		@apply flex gap-4;
	}
	#featured,
	#recent {
		@apply py-6;
	}
	#featured h2,
	#recent h2 {
		@apply font-semibold text-2xl tracking-wide;
	}
	.all-posts-btn-wrapper {
		@apply text-center my-8 fill-skin-base text-sm;
	}
	.all-posts-btn-wrapper svg {
		@apply inline-block w-6 h-6;
	}
	.all-posts-btn-wrapper a {
		@apply hover:text-skin-accent;
	}
</style>
