---
import Datetime from "./Datetime.astro";
import type { Frontmatter } from "src/utils/types";

export interface Props {
  href?: string;
  secHeading?: boolean;
  post: Frontmatter;
}
const { href, post, secHeading = true } = Astro.props;
---

<li>
  <a href={href}>
    {secHeading ? <h2>{post.title}</h2> : <h3>{post.title}</h3>}
  </a>
  <div class="tags-wrapper">
    {post.tags.map(tag => (
      <p>{tag}</p>
    ))}
  </div>
  <Datetime datetime={post.datetime} />
  <p>
    {post.description}
  </p>
</li>

<style>
  li {
    @apply my-4;
  }
  a {
    @apply text-skin-accent font-medium text-lg;
  }
  a h2,
  a h3 {
    @apply font-medium text-lg hover:text-skin-base hover:underline underline-offset-4;
  }
  .tags-wrapper {
    @apply flex gap-2 py-2;
  }
  .tags-wrapper p {
    @apply border opacity-80 p-1 text-xs rounded-md;
  }
  .date-time-wrapper {
    @apply my-1 opacity-80;
  }
  .date-time {
    @apply italic text-xs;
  }
  svg {
    @apply w-6 h-6 inline-block fill-skin-base;
  }
</style>
