---
import "../styles/base.css";
import { SITE } from "src/config";

interface Props {
	title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  ogImage = SITE.ogImage,
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(ogImage, Astro.url);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="canonical" href={canonicalURL} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

		 <!-- Twitter -->
		 <meta property="twitter:card" content="summary_large_image" />
		 <meta property="twitter:url" content={canonicalURL} />
		 <meta property="twitter:title" content={title} />
		 <meta property="twitter:description" content={description} />
		 <meta property="twitter:image" content={socialImageURL} />


		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap"
			rel="stylesheet"
		/>

		<script is:inline>
      const currentTheme = localStorage.getItem("theme");
      const theme = currentTheme === "dark" ? "theme-dark" : "";
      document.querySelector("html").className = theme;
    </script>
	</head>
	<body>
		<slot />
	</body>
</html>