---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag";
import Datetime from "@components/Datetime";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types"
import ShareLinks from "@components/ShareLinks.astro";

export interface Props {
  post: MarkdownInstance<Frontmatter>;
}
const { post } = Astro.props;

const { frontmatter, Content } = Astro.props.post;
const { title, author, description, ogImage, datetime, tags } = frontmatter;

---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogImage}
>
  <Header />
  <div class="max-w-4xl mx-auto w-full px-2 flex items-center justify-start mb-8">
    <button
    class="mt-8 mb-1 hover:opacity-75 flex focus-outline"
    onclick="history.back()"
  >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>back</span>
    </button>
    <Breadcrumbs />
  </div>
  
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <h2 class="post-author">by {author}</h2>
    <Datetime datetime={datetime} className="my-2 text-sm" />
    <ul class="tags-container">
      {tags.map((tag) => <Tag name={tag} />)}
    </ul>
    <ShareLinks />
    <article
      id="article"
      role="article"
      class="mx-auto max-w-4xl mt-8 mb-8 prose"
    >
      <Content />
    </article>
    <div
    class="flex flex-col-reverse items-center justify-between gap-6 sm:flex-row-reverse sm:items-end sm:gap-4"
  >
    <button
      id="back-to-top"
      class="focus-outline whitespace-nowrap py-1 hover:opacity-75"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90">
        <path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg>
      <span>Back to Top</span>
    </button>
    <ShareLinks />
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply max-w-4xl mx-auto px-4 pb-12 w-full;
  }
  .post-title {
    @apply font-bold text-2xl text-skin-accent;
  }
  .tags-container {
    @apply my-4;
  }
  .post-author {
    @apply  italic;
  }
</style>